{% extends "base_base.html" %}

{% load dehr_template_tags %}


{% if page_title %}
    {% block title %}DEHR: {{ page_title }}{% endblock title %}
{% else %}
    {# pass, see base_base.html for the default title #}
{% endif %}


{% block base_content %}

<div class="header">
    <span class="header_dehr">DEHR:</span>
    Drug Education and Harm Reduction
</div> <!-- div.header -->


<div class="content_box">

<h1 class="page_title">{{ page_title|safe }}</h1>

<div class="page_type">Page type: {{ page_type }}</div>

{{ page_content|safe }}

</div> <!-- div.content_box -->

{% endblock base_content %}
