{% extends "base_base.html" %}

{% load dehr_template_tags %}


{% if page_title %}
    {% block title %}DEHR: {{ page_title }}{% endblock title %}
{% else %}
    {# pass, see base_base.html for the default title #}
{% endif %}


{% block base_content %}

<div class="header">
    <span class="header_dehr">DEHR:</span>
    Drug Education and Harm Reduction
</div> <!-- div.header -->


<div class="content_box">


<h1 class="page_title">{{ page_title|safe }}</h1>


<div class="subheader">
    Page type: <b>{{ page_type }}</b>
    
    {% ifnotequal page_type 'Index' %}
        <br />
        <a href="index.html">Home</a>
    {% endifnotequal %}
</div> <!-- div.subheader -->


{% if has_metadata %}
    <div class="metadata_box">
        
        <div class="metadata_box_header">Infobox:</div>
        
        {% if wikipedia_name %}
            <div class="metadata_box_line">
                Wikipedia article on {% wiki wikipedia_name %}.
            </div>
        {% endif %}
        
        {% include "metadata_line.html" with key="Generic names" value_list=generic_names %}
        
        {% include "metadata_line.html" with key="Brand names" value_list=brand_names %}
        
        {% include "metadata_line.html" with key="Related names" value_list=related_names %}
        
        {% include "metadata_line.html" with key="Drug class" value_list=drug_class %}
        
        {% include "metadata_line.html" with key="Mechanisms" value_list=mechanisms %}
        
        {% include "metadata_line.html" with key="Neurotransmitters" value_list=neurotransmitters %}
        
        {% if related_names %}
            <div class="metadata_box_line">
                <b>* Note 1:</b> The related names above <i>may not</i> refer specifically to the topic of this page, they are only related. They may be slang terms which are ill-defined. They may be more specific or more broad than the page title.
            </div>
        {% endif %}
        
    </div> <!-- div.metadata_box -->
    
    {% clearfix %}
    
    <h1 class="page_title_repeat">{{ page_title|safe }}:</h1>
{% endif %}


{{ page_content|safe }}

</div> <!-- div.content_box -->

{% endblock base_content %}
