{% extends "base_base.html" %}

{% load dehr_template_tags %}


{% if page_title %}
    {% block title %}DEHR: {{ page_title }}{% endblock title %}
{% else %}
    {# pass, see base_base.html for the default title #}
{% endif %}


{% block base_content %}

<div class="header">
    <span class="header_dehr">DEHR:</span>
    Drug Education and Harm Reduction
</div> <!-- div.header -->


<div class="content_box">


<h1 class="page_title">{{ page_title|safe }}</h1>


<div class="subheader">
    Page type: <b>{{ page_type }}</b>
    
    {% ifnotequal page_type 'Index' %}
        <br />
        <a href="index.html">Home</a>
    {% endifnotequal %}
</div> <!-- div.subheader -->


{% if has_metadata %}
    <div class="metadata_box">
        
        <div class="metadata_box_header">Infobox:</div>
        
        {% if wikipedia_name %}
            <div class="metadata_line">
                {% wiki wikipedia_name 'Wikipedia article' %} on 
                {{ wikipedia_name }}.
            </div>
        {% endif %}
        
        {% if generic_names %}
            <div class="metadata_line">
                <b>Generic names:</b>
                {% for val in generic_names %}
                    {% if not forloop.last %}
                        {{ val }},
                    {% else %}
                        {{ val }}.
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if brand_names %}
            <div class="metadata_line">
                <b>Brand names:</b>
                {% for val in brand_names %}
                    {% if not forloop.last %}
                        {{ val }},
                    {% else %}
                        {{ val }}.
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
    </div> <!-- div.metadata_box -->
{% endif %}


{{ page_content|safe }}

</div> <!-- div.content_box -->

{% endblock base_content %}
