{% if value_list %}
    <div class="metadata_box_line">
        <b>{{ key }}:</b>
        {% for val in value_list %}
            {% if not forloop.last %}
                {{ val }},
            {% else %}
                {{ val }}.
                {% ifequal key "Related names" %}
                    (Note that these related names <i>may not</i> refer specifically to the topic of this page, they are only related. They may be slang terms which are ill-defined. They may be more specific or more broad than the page title.)
                {% endifequal %}
            {% endif %}
        {% endfor %}
    </div> <!-- div.metadata_box_line -->
{% endif %}
